h1 {
    color: blue;
    text-align: center;
  }

p {
  color: green;
}

div {
  border: 2px solid blue;
  background-color: teal;
  width:30%;
  margin:2%;
  padding: 1.2%;
  font-family: Arial, sans-serif;
}

table{
  border: 3px solid green;
  border-collapse: collapse;
  width: 50%;
}

th, td {
  border: 2px solid green;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}

th {
  background-color: lightgrey;
}
